<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<div layout:fragment="content">
    <div class="container my-5">
        <form th:action="@{'/boards?page=' + ${boards.number}}" role="form" method="get" th:object="${boards}">
            <a class="btn btn-primary mb-3" th:href="@{/boards/createBoard}">글쓰기</a>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boards}">
                    <td><a th:href="@{/boards/{id}(id=${board.id})}" th:text="${board.title}"></a></td>

                    <td th:text="${board.memberName}"></td>
                    <td>
                        <span th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                    </td>
                    <td>
                        <span th:text="${board.viewCount}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:with="start=${(boards.number/maxPage)*maxPage + 1}, end=(${(boards.totalPages == 0) ? 1 : (start + (maxPage - 1) < boards.totalPages ? start + (maxPage - 1) : boards.totalPages)})">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${boards.first}?'disabled'">
                        <a th:onclick="'javascript:page(' + ${boards.number - 1} + ')'" aria-label="Previous" class="page-link">
                            <span aria-hidden="true">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}"
                        th:classappend="${boards.number eq page-1}?'active':''">
                        <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                    </li>
                    <li class="page-item" th:classappend="${boards.last}?'disabled'">
                        <a th:onclick="'javascript:page(' + ${boards.number + 1} + ')'" aria-label="Next"
                           class="page-link">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="form-inline justify-content-center" th:object="${boardSearchDTO}">
                <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                    <option value="all">전체기간</option>
                    <option value="1d">1일</option>
                    <option value="1w">1주</option>
                    <option value="1m">1개월</option>
                    <option value="6m">6개월</option>
                </select>
                <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                    <option value="boardTitle">제목</option>
                    <option value="createdBy">작성자</option>
                </select>
                <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요.">
                <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
            </div>
        </form>
    </div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">

            $(document).ready(function () {
                $("#searchBtn").on("click", function (e) {
                    e.preventDefault();
                    page(0);
                });


            });

            function page(page) {
                var searchDateType = $("#searchDateType").val();
                var searchBy = $("#searchBy").val();
                var searchQuery = $("#searchQuery").val();

                location.href = "/boards?page=" + page + "&searchDateType=" + searchDateType
                    + "&searchBy=" + searchBy
                    + "&searchQuery=" + searchQuery;
            }

        </script>
    </th:block>
</div>
</html>