<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<div layout:fragment="content">
    <div class="container my-5">
        <div class="header mb-5">
            <h1 class="text-center">게시글 추가</h1>
        </div>
        <form id="boardForm" method="post">
            <div class="mb-3">
                <label for="title">게시글 제목</label>
                <input type="text" class="form-control" id="title" name="title" required />
            </div>
            <div class="mb-3">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" name="content" placeholder="내용 입력"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">업로드</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back();">취소</button>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $('#boardForm').submit(function (e) {
                e.preventDefault(); // 기본 폼 제출 방지
                var formData = {
                    title: $('#title').val(),
                    content: $('#content').val()
                };

                $.ajax({
                    url: '/api/boards',
                    type: 'POST',
                    contentType: 'application/json', // JSON 데이터로 서버에 전송
                    data: JSON.stringify(formData),
                    headers: {
                        "Authorization": "Bearer " + sessionStorage.getItem('token') // 로컬 스토리지에서 토큰을 가져와 헤더에 추가
                    },
                    success: function (response) {
                        console.log('게시글이 성공적으로 업로드되었습니다.');
                        alert('게시글이 성공적으로 업로드되었습니다.');
                        window.location.href = '/boards'; // 게시글 목록 페이지로 리디렉션
                    },
                    error: function (xhr, status, error) {
                        console.log('게시글 업로드 중 오류 발생:', error);
                        alert('게시글 업로드 중 오류가 발생했습니다.');
                    }
                });
            });
        });
    </script>
</div>
</html>